{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/barcode.css' %}" />
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/barcode.js' %}"></script>
  <style>
    #scanner {
      display: none;
    }
  </style>
</head>
<body id="page-top">
    <!-- Sidebar -->
    <div id="content-wrapper">
      <div class="alignment-scanner" id="scanner">
      </div>
      <div class="container-fluid">
        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Patient Report</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID number</th>
                    <th>Item code</th>
                    <th>Quantity</th>
                    <th>Complaint</th>
                    <th>Medication</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>           
                  {% if post %}
                    {% for post in post %}
                      <tr>
                        <td><a href="{% url 'medical:per-student-report' post.pk %}">{{ post.id_number }}</a></td>
                        <td>{{ post.item_code }}</td>
                        <td>{{ post.quantity }}</td>
                        <td>{{ post.complaints }}</td>
                        <td>{{ post.medication }}</td>
                        <td>{{ post.date_created }}</td>
                      </tr>
                  {% endfor %}
                {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- /.container-fluid -->
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © 2019</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->
  </div>
  <!-- /#wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
{% endblock %}